In [18]:
from DbConn import *
import pandas as pd

In [19]:
db = DbConn()
sql="SELECT moviecd,actors1,actors2,actors3,actors4, max_audiacc FROM movie2"


movie2list = db.execute(sql)

In [20]:
df_movie2list = pd.DataFrame(movie2list)
df_movie2list.head()

          0         1         2      3       4        5
0  20197981      None      None   None    None     5194
1  20183407       천우희       유태오    정재광     박예영     9742
2  20196760      None      None   None    None    17229
3  20192804  제임스 맥어보이  제시카 차스테인  빌 헤이더  제이 라이언   588958
4  20184572       박정민       류승범    최유화      우현  2224338

In [26]:
df_movie2list.to_csv('df_movie2list.csv', encoding = 'CP949')

In [33]:

sql2="""
SELECT ACTORS4, COUNT(*), max(MAX_AUDIACC), round(avg(MAX_AUDIACC) )
FROM MOVIE2 
GROUP BY ACTORS4
"""

movie2list2 = db.execute(sql2)
df_movie2list2 = pd.DataFrame(movie2list2)
# df_movie2list2.head()
df_movie2list2.to_csv('df_movie2list2.csv', encoding = 'CP949')