In [4]:
#DB 에서 데이터 가져오기
import numpy as np
import pandas as pd
import cx_Oracle as co
from datetime import datetime

In [2]:
dsnString = co.makedsn("orcl.czq0cxsnbcns.ap-northeast-2.rds.amazonaws.com","1521",service_name="orcl")
dsnString

'(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=orcl.czq0cxsnbcns.ap-northeast-2.rds.amazonaws.com)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)))'

In [3]:
conn = co.connect(user='scott',password='tigertiger',dsn=dsnString)
conn

In [ ]:
#pd.read_sql("쿼리문",연결객체) 를 이용하여 dataframe 객체를 얻어오기
#type(query_result) 은 DataFrame

query_result=pd.read_sql("SELECT * FROM EMP",conn)
query_result

#다 사용했다면 연결 닫기 필수#conn.close()

In [ ]:
#자주 사용하는 것은 함수로 만들기
# def 함수명(매개변수):
#     처리할 코드1

In [ ]:
def query_OracleSQL(query):
    startTime = datetime.now()
    dsnString = co.makedsn("orcl.czq0cxsnbcns.ap-northeast-2.rds.amazonaws.com","1521","orcl")
    conn = co.connect(user="scott",password="tigertiger",dsn=dsnString)
    query_result = pd.read_sql(query,conn)
    conn.close()
    endTime = datetime.now()
    print("시작시간 : ",str(startTime))
    print("종료시간 : ",str(endTime))
    print("경과시간 : ",str(endTime-startTime))
    return query_result;

In [ ]:
def insert_OracleSQL(data):
    #DNS(domian name server)
    #DSN 설정
    dsnString = co.makedsn("orcl.czq0cxsnbcns.ap-northeast-2.rds.amazonaws.com","1521","orcl")
    #connection
    conn = co.connect(user="scott",password="tigertiger",dsn=dsnString)
    #cursor()
    cursor = conn.cursor()
    #sql
    sql = "INSERT INTO DEPT VALUES (:1, :2, :3)"
    #execute()
    cursor.execute(sql, data)
    #commit()
    conn.commit()
    #close()
    conn.close()