In [24]:
from DbConn import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rc('font',family="Malgun Gothic")
plt.style.use('fivethirtyeight')

In [29]:
def producer_cor():
    db=DbConn()
    
    select_query = '''
    SELECT prodcd, COUNT(*) as prod_count, max(MAX_AUDIACC) as prod_maxaud, round(avg(MAX_AUDIACC),0) as 
    FROM MOVIE2 
    WHERE prodcd IS NOT NULL 
    GROUP BY prodcd
    '''
    select_result = pd.read_sql(select_query,db.connection)
    
    print("제작사 작업 완료-----------")
    db.disconnect()
    return select_result

def prod_dist_cor():
    db=DbConn()
    
    select_query = '''
    select b.moviecd,bt.prodcd ,bt.distcd , b.audiacc,bt.max_audiacc
    from boxoffice2 b 
    inner join movie2 bt
    on b.moviecd = bt.moviecd
    and b.opendt + 3 = b.dailydate
    '''
    select_result = pd.read_sql(select_query,db.connection)
    
    print("제작사 &  배급사 작업 완료-----------")
    db.disconnect()
    return select_result

In [30]:
prd_df =producer_cor()
prd_df.head(4)
#제작사 790 개
#prd_df.shape

제작사 작업 완료-----------

     PRODCD  COUNT(*)  MAX(MAX_AUDIACC)  ROUND(AVG(MAX_AUDIACC),0)
0  20100947        24           7043241                    1343578
1  20202761         1             91420                      91420
2  20137195         3           2695392                    2150747
3  20190405         1             53500                      53500

In [31]:
prod_dist_df=prod_dist_cor()

제작사 &  배급사 작업 완료-----------

In [33]:
prod_dist_df=prod_dist_df.dropna(axis=0,how='any')
prod_dist_df.head(4)

     MOVIECD      PRODCD      DISTCD  AUDIACC  MAX_AUDIACC
1   20142641  20157708.0  20110854.0   301956       423372
9   20138224  20138715.0  20100520.0   345027       631865
13  20068576  20123837.0  20100103.0   355331       650145
15  20144442  20110933.0  20100520.0   455896       588886